body{
margin:0;
font-family:'Pacifico',cursive;
text-align:center;
background:linear-gradient(#fff,#ffe4ec);
}

section{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
padding:60px 20px;
}

.hero{
height:100vh;
background:linear-gradient(#ffe4ec,#ffc0cb);
}

.hero h1{
font-size:80px;
color:#e11d48;
}

h2{
font-size:50px;
}

p{
font-size:30px;
}

li{
font-size:28px;
font-weight:bold;
}

/* GALERIA */
.galeria{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:20px;
}

img,video{
width:260px;
border-radius:15px;
transition:0.3s;
}

img:hover,video:hover{
transform:scale(1.1);
}

/* AMOR ETERNO */
.amor-eterno{
background:url("foto20.jpg") center/cover;
color:white;
text-shadow:2px 2px 10px black;
padding:120px 20px;
}

.amor-eterno h2{
font-size:60px;
}

.amor-eterno p{
font-size:30px;
}

/* BOTONES */
button{
font-size:22px;
padding:10px 20px;
margin:10px;
}

/* OCULTO (CLAVE) */
.oculto{
display:none !important;
}

/* CORAZONES */
.corazon{
position:fixed;
pointer-events:none;
animation:caer 5s linear;
}

@keyframes caer{
to{transform:translateY(100vh);}
}

.explosion{
animation:explosion 1s forwards;
}

@keyframes explosion{
to{transform:translate(var(--x),var(--y));opacity:0;}
}

/* MUSICA */
.musica-btn{
position:fixed;
top:10px;
right:10px;
}
