body{
margin:0;
font-family:'Pacifico',cursive;
overflow-x:hidden;
}

/* HERO */
.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(#ffe4ec,#ffc0cb);
}

.hero h1{
font-size:65px;
color:#e11d48;
}

/* CONTADOR */
.contador h2{
font-size:40px;
text-align:center;
}

#tiempo{
font-size:30px;
text-align:center;
}

/* RAZONES */
.razones h2{
font-size:45px;
text-align:center;
}

.razones li{
font-size:30px;
font-weight:bold;
margin:12px;
text-align:center;
}

/* GALERIA */
.galeria{
display:flex;
flex-wrap:wrap;
gap:15px;
justify-content:center;
}

img,video{
width:260px;
border-radius:15px;
transition:0.3s;
}

img:hover,video:hover{
transform:scale(1.1);
}

/* BOTON */
button{
font-size:18px;
padding:10px 15px;
}

/* CORAZONES */
.corazon{
position:fixed;
animation:caer 5s linear;
pointer-events:none;
}

@keyframes caer{
to{transform:translateY(100vh);}
}

.explosion{
animation:explosion 1s forwards;
}

@keyframes explosion{
to{transform:translate(var(--x),var(--y));opacity:0;}
}

.shake{
animation:shake 0.5s;
}

@keyframes shake{
0%{transform:translate(5px,5px);}
50%{transform:translate(-5px,-5px);}
100%{transform:translate(5px,5px);}
}

.oculto{display:none;}

.musica-btn{
position:fixed;
top:10px;
right:10px;
z-index:9999;
}
